@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");
body {
  margin: 0;
  background-color: #000;
  overflow: hidden !important;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 61%,
    rgba(0, 0, 0, 0.54) 79%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  z-index: 2;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: rgb(75, 213, 238);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 3.25rem;
  width: 80%;
  opacity: 0;
  animation: intro 6s ease-out 0.5s;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  opacity: 0;
  animation: logo 10s ease-out 9s;
}

.logo img {
  width: inherit;
}

@keyframes logo {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
}

p {
  color: #ffe81f;
}

#scroller {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  height: 50em;
  width: 20em;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10em;
  z-index: 0;
  transform: perspective(350px) rotateX(25deg);
  transform-origin: 50% 100%;
}

#scroller::after {
  position: absolute;
  content: "";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  position: absolute;
  top: 100%;
  animation: scoller 100s linear 16s;
}

@keyframes scoller {
  0% {
    top: 100%;
  }
  100% {
    top: -200%;
  }
}

#title,
#subtitle {
  text-align: center;
  line-height: 1.5rem;
}

#subtitle {
  text-transform: uppercase;
  font-size: 3.5rem;
}

footer {
  position: absolute;
  z-index: 10;
}
/*  
button {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
  border: 1px solid #56ae00;
  border-radius: 25px 5px 5px 25px;
  background-color: #aae472;
  color: #3c5721;
  padding: 5px 10px 5px 25px;
}
button:hover {
  padding: 5px 25px 5px 10px;
  border-radius: 5px 25px 25px 5px;
}
*/
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #fbc638;
  }
  100% {
    fill: white;
  }
}
