canvas {
  background-color: aquamarine;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1224px;
  height: 640px;
  padding: 1rem;
}

.punkte {
  color: #56ae00;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}
h2 {
  color: aqua;
}

.stopbutton {
  border-radius: 50%;
}
/* -------------------NEW GAME BUTTON---------------------------------------- */
.weiterbutton {
  border-radius: 50%;
  --glow-color: rgb(213, 226, 35);
  --glow-spread-color: rgba(123, 233, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(191, 47, 40);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 10px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}
.weiterbutton::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.weiterbutton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
/* ---------------------HINTERGRUND springende Bälle----------------------------------- */
.ball {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  opacity: 0.7;
  width: 0;
  height: 0;
}
/* --------------------------------------------------------------------------------- */
