<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="Metatron" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>DEFENDER</title>
  </head>
  <h1>DEFENDER</h1>

  <body onload="startGame()">
    <br />
    <br />
    <canvas id="canvas" width="920" height="640"></canvas>

    <footer>
      <br />
      <h2>Pfeil Taste Oben, Pfeil Taste Unten, Space = Schießen</h2>
      <p>Der Metatron 2022</p>
    </footer>
  </body>
  <script type="text/javascript" src="./index.js"></script>
</html>
