@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.stars {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: #fff;
  z-index: 10;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: rgb(75, 213, 238);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 3.25rem;
  width: 80%;
  opacity: 0;
  animation: intro 6s ease-out 0.5s;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo {
  position: absolute;

  transform: translate(-50%, -50%);
  z-index: 8;
  top: 63%;
  left: 65%;
  /*  opacity: 0; */
}

.logo img {
  /*  width: inherit; */
  width: 100%;
  opacity: 0;
  animation: ship 10s ease-out 9s;
}

@keyframes ship {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(2);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.1);
  }
}

p {
  color: #ffe81f;
}

#scroller {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  height: 50em;
  width: 20em;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10em;
  z-index: 7;
  transform: perspective(350px) rotateX(25deg);
  transform-origin: 50% 100%;
}

#scroller::after {
  position: absolute;
  content: "";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

#content {
  position: absolute;
  top: 100%;
  animation: scoller 100s linear 16s;
}

@keyframes scoller {
  0% {
    top: 100%;
  }
  100% {
    top: -200%;
  }
}

#title,
#subtitle {
  text-align: center;
  line-height: 1.5rem;
}

#subtitle {
  text-transform: uppercase;
  font-size: 3.5rem;
}

footer {
  position: absolute;
  z-index: 6;
}
/*  */
.startbutton {
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  font-family: Arial;
  font-size: 20px;
  border: 3px solid #ff0004;
  border-style: groove;
  border-radius: 25px 5px 5px 25px;
  background-color: aqua;
  color: #000000;
  padding: 5px 10px 5px 25px;
}
.startbutton:hover {
  padding: 5px 25px 5px 10px;
  border-radius: 5px 25px 25px 5px;
}
