canvas {
  background-color: rgba(122, 234, 10, 0.8);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1224px;
  height: 640px;
  padding: 1rem;
}

.punkte {
  color: #56ae00;
  font-size: 2rem;

  text-align: center;
}
h2 {
  color: aqua;
}

.stopbutton {
  flex-direction: column;
}
