.game-canvas {
  background-color: rgba(168, 35, 35, 0.8);
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1224px;
  height: 640px;
  padding: 1rem;
}
body {
  background-color: black;
}

.player {
  color: brown;
}
