canvas {
  background-color: aquamarine;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1224px;
  height: 640px;
  padding: 1rem;
}

.punkte {
  color: #56ae00;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
}
h2 {
  color: aqua;
}

.stopbutton {
  border-radius: 50%;
}
.weiterbutton {
  border-radius: 50%;
}
